body {
    font-family: $font-p-s;
}

.container {
    @include container(940px);
    @include iPad {
        max-width: 740px;
    }
    @include i6Plus {
        max-width: 400px;
    }
}

.burger {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/dehaze-24px.png");
    padding: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    @include iPad {
        display: block;
         :focus {
            outline: 0;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 30px auto;
    @include iPad {
        width: 90%;
    }
    h1 {
        padding-top: 20px;
        @include iPad {
            display: none;
        }
    }
}

.title {
    display: block;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
    width: 220px;
    height: 40px;
    background-repeat: no-repeat;
    @include text-hide();
    @include iPad {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
        background-position: top center;
        width: 500px;
        height: 20px;
    }
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 10px;
    .active {
        max-height: 200px;
    }
    ul {
        display: flex;
        @include iPad {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            transition: all 0.8s;
            overflow: hidden;
            background: white;
            flex-direction: column;
        }
        li {
            margin-right: 60px;
            display: flex;
            align-items: center;
            max-height: 0px;
            @include iPad {
                width: 100%;
                 :hover {
                    background-color: $color-s;
                }
            }
            a {
                text-decoration: none;
                padding: 10px 0;
                color: $color-m;
                font-size: $font-s;
                padding: 20px 0;
                @include iPad {
                    padding: 10px 0;
                    text-align: center;
                }
            }
            a:hover {
                color: #3f5d4563;
            }
        }
    }
}