html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "PingFang TC", Semibold, arial, sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 414px) {
  .container {
    max-width: 400px;
  }
}

.burger {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/dehaze-24px.png");
  padding: 25px;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
  .burger :focus {
    outline: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 30px auto;
}
@media (max-width: 768px) {
  .header {
    width: 90%;
  }
}
.header h1 {
  padding-top: 20px;
}
@media (max-width: 768px) {
  .header h1 {
    display: none;
  }
}

.title {
  display: block;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
  width: 220px;
  height: 40px;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .title {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
    background-position: top center;
    width: 500px;
    height: 20px;
  }
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.nav .active {
  max-height: 200px;
}
.nav ul {
  display: flex;
}
@media (max-width: 768px) {
  .nav ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    transition: all 0.8s;
    overflow: hidden;
    background: white;
    flex-direction: column;
  }
}
.nav ul li {
  margin-right: 60px;
  display: flex;
  align-items: center;
  max-height: 0px;
}
@media (max-width: 768px) {
  .nav ul li {
    width: 100%;
  }
  .nav ul li :hover {
    background-color: #EAF0ED;
  }
}
.nav ul li a {
  text-decoration: none;
  padding: 10px 0;
  color: #3F5D45;
  font-size: 16px;
  padding: 20px 0;
}
@media (max-width: 768px) {
  .nav ul li a {
    padding: 10px 0;
    text-align: center;
  }
}
.nav ul li a:hover {
  color: #3f5d4563;
}

.footer {
  background: #3F5D45;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  max-width: 800px;
  margin: 0 auto;
}

.top-left {
  display: flex;
  align-items: center;
}
.top-left img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.top-left h2 {
  font-family: Helvetica Neue;
  color: #EAF0ED;
  font-size: 24px;
}

.form-container {
  position: relative;
  display: flex;
}

.footer-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
}

.footer-input {
  width: 350px;
  height: 64px;
  padding-left: 60px;
  background-color: #EAF0ED;
  border: none;
}

.footer-header.header {
  position: absolute;
  top: 25px;
  left: 25px;
}

.footer-button {
  background: #FFE180;
  width: 64px;
  height: 66px;
  position: absolute;
  right: 0px;
  border: none;
}
.footer-button img {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.footer-bottom-bg {
  background-color: #EAF0ED;
}

.footer-bottom {
  margin: 0 auto;
  max-width: 800px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.font-farme {
  margin-top: 8px;
}

.main-left img {
  width: 170px;
  height: 25px;
  margin-bottom: 110px;
}
.main-left p {
  font-family: Helvetica Neue;
  line-height: 1.5;
  font-size: 16px;
  color: #3F5D45;
}

.main-bottom {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-bottom img {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.main-bottom a {
  text-decoration: none;
}
.main-bottom p {
  font-family: Times;
  color: #3F5D45;
  font-size: 16px;
}

@media (max-width: 768px) {
  .form-container {
    width: 100%;
  }

  .footer-bottom {
    max-width: 60%;
  }

  .footer-top {
    flex-direction: column;
  }

  .top-left {
    margin-bottom: 30px;
  }

  .main-right {
    display: none;
  }

  .main-left img {
    margin-bottom: 40px;
  }

  .main-bottom {
    flex-direction: column;
    align-items: start;
  }

  .bottom-img {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  input {
    width: 100%;
  }

  .top-right {
    width: 90%;
  }

  .footer-bottom {
    max-width: 90%;
    margin-left: 5%;
  }
}
body {
  line-height: 1.3;
}

.main {
  max-width: 780px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .main {
    margin: 0;
  }
}

.invoice {
  background: #3F5D45;
  width: 58.5%;
  height: 100%;
}
@media (max-width: 768px) {
  .invoice {
    width: 100%;
  }
}

.data {
  margin: 30px 40px;
}
@media (max-width: 768px) {
  .data {
    max-width: 400px;
    margin: 30px auto;
    width: 100%;
  }
}
.data .select {
  display: flex;
  margin-bottom: 30px;
}
.data .select li:nth-child(1) {
  font-size: 20px;
  background-color: #EAF0ED;
  color: #3F5D45;
  padding: 14px 55px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .data .select li:nth-child(1) {
    width: 50%;
    padding: 12px 0;
    text-align: center;
  }
}
.data .select li:last-child {
  font-size: 20px;
  background-color: #3F5D45;
  border: 1px solid #EAF0ED;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .data .select li:last-child {
    width: 50%;
  }
}
.data .select li:last-child a {
  display: block;
  text-decoration: none;
  color: #EAF0ED;
  padding: 13px 55px;
}
.data .select li:last-child :hover {
  background-color: #EAF0ED;
  color: #3F5D45;
  border-left: 1px solid #3F5D45;
}

.data-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.data-title h2 {
  min-width: 75px;
  font-size: 36px;
  color: #EAF0ED;
  font-weight: bolder;
}
.data-title ul {
  display: flex;
  align-items: center;
  position: relative;
}
.data-title ul li {
  padding-right: 60px;
}
.data-title ul li .material-icons {
  color: #EAF0ED;
}
.data-title ul li hr {
  width: 66px;
  height: 1px;
  border: none;
  background-color: #EAF0ED;
  position: absolute;
  top: 5px;
  left: 20px;
}
.data-title ul li .border {
  left: 105px;
}
.data-title ul li:last-child {
  padding-right: 0;
  margin-bottom: 3px;
  width: 15px;
  height: 15px;
  border: 5px double #3F5D45;
  background-color: #EAF0ED;
  border-radius: 50%;
}

.fill li {
  margin-bottom: 16px;
}
.fill li h3 {
  font-size: 20px;
  color: #EAF0ED;
  margin-bottom: 8px;
}
.fill li .fill-input {
  background-color: #EAF0ED;
  border: none;
  width: 95%;
  height: 56px;
  padding-left: 5%;
}
.fill li ::placeholder {
  color: #8DA291;
}

.shop button {
  width: 100%;
  border: none;
  color: #3F5D45;
  font-size: 24px;
  background-color: #FFE180;
  padding: 20px 0;
  font-weight: bold;
}
.shop button:hover {
  background-color: #fcc884;
}

.checkout {
  width: 39%;
}
@media (max-width: 768px) {
  .checkout {
    display: none;
  }
}
.checkout .checktitle {
  text-align: center;
  background-color: #EAF0ED;
  color: #8DA291;
  font-size: 24px;
  padding: 16px 0;
  font-weight: bold;
}
.checkout .summary {
  margin-bottom: 20px;
  border: 1px solid #EAF0ED;
}
.checkout .summary ul {
  padding: 16px 20px;
}
.checkout .summary ul li {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #8DA291;
  margin-bottom: 8px;
}
.checkout .summary ul li:nth-child(2) {
  margin-bottom: 16px;
}
.checkout .summary ul li:last-child {
  font-size: 20px;
  font-weight: bold;
}
.checkout .checklist .menu {
  max-width: 100%;
  border: 1px solid #EAF0ED;
}
.checkout .checklist .menu li {
  display: flex;
  align-items: center;
  padding: 16px 20px 0;
}
.checkout .checklist .menu li .menu-post1 {
  background-image: url(https://github.com/0404kai/work/blob/master/images/cake1.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 80px;
  margin-right: 20px;
}
.checkout .checklist .menu li .menu-post2 {
  background-image: url(https://github.com/0404kai/work/blob/master/images/cake2.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 80px;
  margin-right: 20px;
}
.checkout .checklist .menu li .menu-post3 {
  background-image: url(https://github.com/0404kai/work/blob/master/images/cake3.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 80px;
  margin-right: 20px;
}
.checkout .checklist .menu li .menu-cost h4 {
  font-size: 16px;
  color: #8DA291;
  line-height: 2;
  white-space: nowrap;
}
.checkout .checklist .menu li .menu-cost p {
  font-size: 20px;
  color: #8DA291;
  font-weight: bold;
}
.checkout .checklist .menu li:last-child {
  padding-bottom: 16px;
}