html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: PingFangTC-Semibold, arial, sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.burger {
  display: none;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/dehaze-24px.png");
  padding: 25px;
  background-position: center center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.header h1 {
  padding-top: 20px;
}

.title {
  display: block;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
  width: 220px;
  height: 40px;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.nav {
  display: flex;
  padding-top: 10px;
}
.nav a {
  text-decoration: none;
  color: #3F5D45;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}
.nav a:hover {
  color: #3f5d4563;
}
.nav li {
  margin-right: 60px;
}
.nav li:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }

  .header a h1,
.nav li:nth-child(1),
.nav li:nth-child(2),
.nav li:nth-child(3) {
    display: none;
  }

  .nav li:last-child {
    width: 100%;
  }

  .header {
    justify-content: space-around;
  }

  .title {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
    background-position: top center;
    width: 500px;
    height: 20px;
  }

  .burger {
    display: block;
  }
}
.footer {
  background: #3F5D45;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  max-width: 800px;
  margin: 0 auto;
}

.top-left {
  display: flex;
  align-items: center;
}
.top-left img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.top-left h2 {
  color: #EAF0ED;
  font-size: 24px;
}

form {
  display: flex;
  position: relative;
}

.form-container {
  position: relative;
}

.footer-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
}

.footer-input {
  width: 350px;
  height: 64px;
  padding-left: 60px;
  background-color: #EAF0ED;
  border: none;
}

.footer-header.header {
  position: absolute;
  top: 25px;
  left: 25px;
}

.footer-button {
  background: #FFE180;
  width: 64px;
  height: 66px;
  position: absolute;
  right: 0px;
  border: none;
}
.footer-button img {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.footer-bottom-bg {
  background-color: #EAF0ED;
}

.footer-bottom {
  margin: 0 auto;
  max-width: 800px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.main-right {
  writing-mode: vertical-rl;
  color: #3F5D45;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 900;
}

.font-farme {
  margin-top: 8px;
}

.main-left img {
  width: 170px;
  height: 25px;
  margin-bottom: 110px;
}
.main-left p {
  line-height: 1.5;
  font-size: 16px;
  color: #3F5D45;
}

.main-bottom {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-bottom img {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.main-bottom a {
  text-decoration: none;
}
.main-bottom p {
  color: #3F5D45;
  font-size: 16px;
}

@media (max-width: 768px) {
  .footer-bottom {
    max-width: 60%;
  }

  .footer-top {
    flex-direction: column;
  }

  .top-left {
    margin-bottom: 30px;
  }

  .main-right {
    display: none;
  }

  .main-left img {
    margin-bottom: 40px;
  }

  .main-bottom {
    flex-direction: column;
    align-items: start;
  }

  .bottom-img {
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  input {
    width: 100%;
  }
}
.main {
  max-width: 800px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}

.invoice {
  background: #3F5D45;
  width: 58%;
  height: 100%;
}

.data {
  margin: 30px 40px;
}
.data .select {
  display: flex;
  margin-bottom: 30px;
}
.data .select li:nth-child(1) {
  font-size: 20px;
  background-color: #EAF0ED;
  color: #3F5D45;
  padding: 14px 55px;
}
.data .select li:last-child {
  font-size: 20px;
  background-color: #3F5D45;
  border: 1px solid #EAF0ED;
}
.data .select li:last-child a {
  display: block;
  text-decoration: none;
  color: #EAF0ED;
  padding: 13px 55px;
}
.data .select li:last-child :hover {
  background-color: #EAF0ED;
  color: #3F5D45;
  border-left: 1px solid #3F5D45;
}

.data-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.data-title h2 {
  min-width: 75px;
  font-size: 36px;
  color: #EAF0ED;
  font-weight: bolder;
}
.data-title ul {
  display: flex;
  position: relative;
  margin-left: 100px;
}
.data-title ul .border {
  transform: rotate(90deg);
  height: 75px;
  margin: 5px;
  position: absolute;
  top: -28px;
  left: 57px;
  border: 1px solid #EAF0ED;
}
.data-title ul .border2 {
  transform: rotate(90deg);
  height: 75px;
  margin: 5px;
  position: absolute;
  top: -28px;
  left: 148px;
  border: 1px solid #EAF0ED;
}
.data-title ul li {
  width: 20px;
  height: 20px;
  background-color: #EAF0ED;
  border-radius: 50%;
  border: solid 5px #3F5D45;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 65px;
}
.data-title ul li:last-child {
  width: 20px;
  height: 20px;
  background-color: #EAF0ED;
  border-radius: 50%;
  border: double 5px #3F5D45;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}
.data-title ul .fa-check {
  color: #3F5D45;
}

.fill li {
  margin-bottom: 16px;
}
.fill li h3 {
  font-size: 20px;
  color: #EAF0ED;
  margin-bottom: 8px;
}
.fill li .fill-input {
  background-color: #EAF0ED;
  border: none;
  width: 95%;
  height: 56px;
  padding-left: 5%;
}
.fill li ::placeholder {
  color: #8DA291;
}

.shop button {
  width: 100%;
  border: none;
  color: #3F5D45;
  font-size: 24px;
  background-color: #FFE180;
  padding: 20px 0;
  font-weight: bold;
}

.checkout {
  width: 40%;
}
.checkout .checktitle {
  text-align: center;
  background-color: #EAF0ED;
  color: #8DA291;
  font-size: 24px;
  padding: 16px 0;
  font-weight: bold;
}
.checkout .summary {
  margin-bottom: 20px;
  border: 1px solid #EAF0ED;
}
.checkout .summary ul {
  padding: 16px 20px;
}
.checkout .summary ul li {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #8DA291;
  margin-bottom: 8px;
}
.checkout .summary ul li:nth-child(2) {
  margin-bottom: 16px;
}
.checkout .summary ul li:last-child {
  font-size: 20px;
  font-weight: bold;
}
.checkout .checklist .menu {
  max-width: 100%;
  border: 1px solid #EAF0ED;
}
.checkout .checklist .menu li {
  display: flex;
  align-items: center;
  padding: 16px 20px 0;
}
.checkout .checklist .menu li img {
  width: 120px;
  height: 90px;
  padding-right: 20px;
}
.checkout .checklist .menu li .menu-cost h4 {
  font-size: 16px;
  color: #8DA291;
  line-height: 2;
}
.checkout .checklist .menu li .menu-cost p {
  font-size: 20px;
  color: #8DA291;
  font-weight: bold;
}
.checkout .checklist .menu li:last-child {
  padding-bottom: 16px;
}