body {
    font-family: PingFangTC-Semibold, arial, sans-serif;
}

.container {
    @include container(940px)
}

.burger {
    display: none;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/dehaze-24px.png");
    padding: 25px;
    background-position: center center;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    h1 {
        padding-top: 20px;
    }
}

.title {
    display: block;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
    width: 220px;
    height: 40px;
    background-repeat: no-repeat;
    @include text-hide()
}

.nav {
    display: flex;
    padding-top: 10px;
    a {
        text-decoration: none;
        color: $color-m;
        font-size: $font-s;
        font-weight: bold;
        padding: 10px 0;
    }
    a:hover {
        color: #3f5d4563;
    }
    li {
        margin-right: 60px;
    }
    li:last-child {
        margin-right: 0;
    }
}

@media(max-width:768px) {
    .container {
        max-width: 700px;
    }
    .header a h1,
    .nav li:nth-child(1),
    .nav li:nth-child(2),
    .nav li:nth-child(3) {
        display: none;
    }
    .nav li:last-child {
        width: 100%;
    }
    .header {
        justify-content: space-around;
    }
    .title {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
        background-position: top center;
        width: 500px;
        height: 20px;
    }
    .burger {
        display: block;
    }
}